# Testing multiple book URls

### Aims to test the system for using multiple urls for scraping data and updating the main df with the extracted book information

In [1]:
import pandas as pd
from goodreads_scrape import*

## Read test csv file

In [2]:
df_link = pd.read_csv('links.csv')

In [3]:
df_link

               title                                               link
0   A bridge too far  https://www.goodreads.com/book/show/539904.A_B...
1  project hail mary  https://www.goodreads.com/book/show/54493401-p...

## Test scrape functions

In [4]:
# create blank dict for the book data
book_data = {'title':'','author':'', 'rating':{}, 'description':'', 'category':[], 'date':'' }

In [5]:
# convert dict to df
df_book_data = pd.json_normalize(book_data)
df_book_data

  title author description category date
0                                []

In [ ]:
# i think i need to modify my function to accept multiple links instead of 1 link only
df_book_data['title'] = df_link['link'].map(lambda link: get_book_title(link))
df_book_data

              title author description category date
0  A Bridge Too Far                          []