# Testing multiple book URls

### Aims to test the system for using multiple urls for scraping data and updating the main df with the extracted book information

In [2]:
import pandas as pd
from goodreads_scrape import*

## Read test csv file

In [4]:
df_link = pd.read_csv('links.csv')

In [5]:
df_link

,title,link
0,A bridge too far,https://www.goodreads.com/book/show/539904.A_B...
1,Same as ever,https://www.goodreads.com/book/show/125116554-...
2,Station eleven,https://www.goodreads.com/en/book/show/2017040...
3,The rise of theodore roosevelt,https://www.goodreads.com/book/show/40929.The_...
4,Sex on the brain,https://www.goodreads.com/book/show/507592.Sex...